{% extends 'base.html' %}

{% block content %}

<h1>{{ movie_status_object.tconst }}</h1>

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
{% endif %}

<div>
    <h2>Status</h2>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ movie_status_form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <h2>Info</h2>
    {{ movie_status_object.tconst }}
</div>

<div>
    <h2>Reviews</h2>
    <a href="{% url 'movie_reviews:review-add' pk=movie_status_object.pk %}" class="btn btn-primary">Add Review</a>
    <table>
        <tr>
            <th>watch date</th>
            <th>enjoyment</th>
            <th>quality</th>
            <th>link</th>
        </tr>
        {% for review in movie_reviews %}
        <tr>
            <td>{{ review.watch_date }}</td>
            <td>{{ review.enjoyment }}</td>
            <td>{{ review.quality }}</td>
            <td>{{ review.get_url }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock%}