{% extends 'base.html' %}

{% block content %}

<h1>Detail view</h1>
<h2>Movie Info</h2>
<div>
    Hier moet een form komen om status en priority aan te passen
{{ watchedstatus.tconst }}
{{ watchedstatus.status }}
{{ watchedstatus.priority }}
</div>

<h2>Watch Stats</h2>
<div>
    Hier moet info komen over de reviews met een link naar een form
{{ watchedstatus.tconst }}
{{ watchedstatus.status }}
{{ watchedstatus.priority }}
</div>


{% comment %} This gives information about movie: {{ object.tconst }}</h1>

<table>
    <tr><td>status:</td><td>{{ object.status }}</td></tr>
    <tr><td>priority:</td><td>{{ object.priority }}</td></tr>
</table> {% endcomment %}
{% endblock%}